.place {
    display: grid;
    grid-template-columns: 36% 38%;
    grid-template-rows: 0.12fr 1fr;
    gap: 48px 40px;
    justify-content: center;
    font-size: 18px;
    line-height: 1.63;
}
@media screen and (max-width: 560px) {
    .place {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        width: 100%;
        margin: auto;
        gap: 0;
        position: relative;
    }
}
@media screen and (min-width: 560px) and (max-width: 768px) {
    .place {
        grid-template-columns: 44.27% 45.83%;
        column-gap: 28px;
        font-size: 16px;
        width: 100vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place {
        grid-template-columns: 42.97% 44.53%;
        column-gap: 32px;
    }
}