.cover__subtitle {
   text-align: center;
   font-size: 18px;
   line-height: 1.22;
   width: 28.125%;
}
@media screen and (max-width: 400px) {
   .cover__subtitle {
      font-size: 14px;
      line-height: 1.14;
      width: 90%;
   }
}
@media screen and (min-width: 620px) and (max-width: 768px) {
   .cover__subtitle {
      width: 46.875%;
   }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
   .cover__subtitle {
      width: 35.156%;
   }
}
@media screen and (min-width: 400px) and (max-width: 620px) {
   .cover__subtitle {
       width: 67%;
       font-size: 16px;
   }
}