.lead__caption {
    justify-self: start;
    min-width: 154px;
    font-size: 10px;
    line-height: 1.4;
    margin-top: 8px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
@media screen and (max-width: 321px) {
    .lead__caption {
        padding-left: 16px;
    }
}
@media screen and (max-width: 768px) and (min-width: 321px) {
    .lead__caption {
        padding-left: 24px;
    }
}