.places {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 92px;
    margin-bottom: 92px;
}
@media screen and (max-width: 560px) {
    .places {
        margin-top: 64px;
        margin-bottom: 66px;
        gap: 50px;
    }
}
@media screen and (min-width: 560px) and (max-width: 768px) {
    .places {
        margin-top: 88px;
        margin-bottom: 90px;
        gap: 73px;
    }
}